h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif;
}

body {
    padding-top: 0 !important;
}

input.gwt-TextBox {
     margin-bottom: 0 !important;
}

.loginControlLabel {
    margin-right: 5px;
}