<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <servlet>
        <servlet-name>com.epam.bp.autobase.gwt.AutobaseGwt AuthService</servlet-name>
        <servlet-class>com.epam.bp.autobase.gwt.server.AuthServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.epam.bp.autobase.autobase FetchService</servlet-name>
        <servlet-class>com.epam.bp.autobase.gwt.server.FetchServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.epam.bp.autobase.autobase RegisterService</servlet-name>
        <servlet-class>com.epam.bp.autobase.gwt.server.RegisterServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.epam.bp.autobase.gwt.AutobaseGwt AuthService</servlet-name>
        <url-pattern>/AutobaseGwtApp/AuthService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.epam.bp.autobase.autobase FetchService</servlet-name>
        <url-pattern>/AutobaseGwtApp/FetchService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.epam.bp.autobase.autobase RegisterService</servlet-name>
        <url-pattern>/AutobaseGwtApp/RegisterService</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>

    <error-page>
        <location>/error</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <mime-mapping>
        <extension>ico</extension>
        <mime-type>image/x-icon</mime-type>
    </mime-mapping>
</web-app>
